ion-content {
    --background: white;
    
    form-group {
      --background: white;
   }
   ion-list{
    --background: white;
   }
   ion-label{
    color:#000000;
  }
  ion-input{
    color:black;
  }
  }